footer.footer 
    a.footer__logo.logo(href="#")
        img(src="@img/logo.svg", alt="logo")
    .footer__copy Все права принадлежат bulkfeedback.com, 2020-2021
    ul.footer__links
        li
            a(href="#") Политика конфиденциальности
        li
            a(href="#") Пользовательское соглашение
        
        

    