.moderation
    .moderation__top 
        .moderation__title Модерация 
        .moderation__categories 
            button.moderation__category.active
                .moderation__icon(style="background-image:url(./img/svg/all-black.svg)")
                | Все виджеты
            button.moderation__category 
                .moderation__icon(style="background-image:url(./img/svg/comment-black.svg)")
                | Чаты
            button.moderation__category 
                .moderation__icon(style="background-image:url(./img/svg/star-black.svg)")
                | Отзывы
            







            