.moderation
    .moderation__top 
        .moderation__title Модерация 
        .moderation__categories 
            .wrapper
                button.moderation__category.active
                    .moderation__icon(style="background-image:url(./img/svg/all-black.svg)")
                    | Все виджеты
                button.moderation__category 
                    .moderation__icon(style="background-image:url(./img/svg/comment-black.svg)")
                    | Чаты
                button.moderation__category 
                    .moderation__icon(style="background-image:url(./img/svg/star-black.svg)")
                    | Отзывы
                button.moderation__category 
                    .moderation__icon(style="background-image:url(./img/svg/comment-black.svg)")
                    | Чаты
                button.moderation__category 
                    .moderation__icon(style="background-image:url(./img/svg/star-black.svg)")
                    | Отзывы
            
    .moderation__inner
        .moderation__widgets 
            .moderation__filters 
                ul 
                    li.opened Сайт №2
                    li.opened.opened--widget-review  Отзывы
                    li.filter.has-msg
                        button Жалобы
                        .msg 
                            .close
                            p У вас автоматически включился фильтр “Жалобы”, т.к. есть новые жалобы 
                button.mobile-search
                .search
                    input(type="text" placeholder="Поиск")
                button.open-filters Фильтры
                
            .review
                .review__header
                    .name отзывы
                    a.url(href="#") К какой странице / товару прикреплён данный отзыв
                    
                    button.mobile-options
                    button.accept
                    button.delete
                    button.edit 
                .review__inner 
                    .review__info 
                        .img(style="background-image:url(../img/profile-image.jpg)")
                        .name Галина Царькова
                        .icons 
                            img(src="./img/svg/basket-green.svg", alt="")
                            img(src="./img/svg/like-green.svg", alt="")
                        ul.rating 
                            li.active 
                            li.active 
                            li.active 
                            li.half
                            li 
                        .info Товар приобретен менее месяца
                        .stats 
                            .time 2ч
                            .top 42
                            .down 17
                    .review__message 
                        p #[span Достоинства] Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                        p #[span Недостатки] Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                        p #[span Комментарий] Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                    .review__bottom 
                        button.answers 3 ответа
                        button.answer ответить
                        button.complaint Жалобы
                        .tags 
                            .red 
                                span мат
                                button.delete
                            button.add тег
            .review
                .review__header
                    .name отзывы
                    a.url(href="#") К какой странице / товару прикреплён данный отзыв
                    
                    button.mobile-options
                    button.accept
                    button.delete
                    button.edit 
                .review__inner 
                    .review__info 
                        .img(style="background-image:url(../img/profile-image.jpg)")
                        .name Галина Царькова
                        .icons 
                            img(src="./img/svg/basket-green.svg", alt="")
                            img(src="./img/svg/like-green.svg", alt="")
                        ul.rating 
                            li.active 
                            li.active 
                            li.active 
                            li.half
                            li 
                        .info Товар приобретен менее месяца
                        .stats 
                            .time 2ч
                            .top 42
                            .down 17
                    .review__message 
                        textarea Достоинства Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                        textarea Недостатки Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                        textarea Комментарий Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                    .review__bottom 
                        button.answers 3 ответа
                        button.answer ответить
                        button.complaint Жалобы
                        .tags 
                            .red 
                                span мат
                                button.delete
                            button.add тег

            .chat
                .chat__header
                    .name Чаты
                    a.url(href="#") К какой странице / товару прикреплён данный отзыв
                    button.options
                        ul 
                            li.option Искать в текущем
                            li.option Искать везде
                .chat__inner 
                    .chat__info 
                        .img(style="background-image:url(../img/profile-image.jpg)")
                        .name Галина Царькова
                        ul.users 
                            li(style="background-color:#F5F8FA") 
                            li(style="background-color:#FFD200") 
                            li(style="background-color:#FF4D45") 
                        button.show Показать чат
                        button.delete
                    .chat__message 
                        p Все хорошо

            .moderation-popup 
                .moderation-container
                    button.moderation-close Закрыть
                    .comment
                        .comment__header
                            .name комментарии
                            .url К какой странице / товару прикреплён данный отзыв
                            button.filter Опубликованное
                            button.mobile-options
                        .comment__inner 
                            .comment__info 
                                .img(style="background-image:url(../img/profile-image.jpg)")
                                .name Галина Царькова
                                button.history История сообщений
                                .stats 
                                    .time 2ч
                                    .top 42
                                    .down 17
                            .comment__message 
                                p #[span Достоинства] Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                            
                            .comment__bottom 
                                button.answers 3 ответа
                                button.answer ответить
                                form.form
                                    .photo 
                                        img(src="@img/profile-image.jpg", alt="")
                                        .name Администратор

                                    .input
                                        input(type="text" value="Гость, я  к вам пишу чего же боле...")
                                        button.cancel
                                    button.mobile-cancel Удалить
                                    button.send(type="submit") Отправить
                                button.mobile-history История сообщений
                                .wrapper 
                                    .red 
                                        span мат
                                        button.delete
                                    button.edit
                                    button.delete
                    
            .comment
                .comment__header
                    .name комментарии
                    a.url(href="#") К какой странице / товару прикреплён данный отзыв
                    button.filter Опубликованное
                        ul 
                            li.option.grey на проверке
                            li.option.green опубликованное
                            li.option.red удаленные
                    button.mobile-options
                .comment__inner 
                    .comment__info 
                        .img(style="background-image:url(../img/profile-image.jpg)")
                        .name Галина Царькова
                        button.history История сообщений
                        .stats 
                            .time 2ч
                            .top 42
                            .down 17
                    .comment__message 
                        p #[span Достоинства] Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                    
                    .comment__bottom 
                        button.answers 3 ответа
                        button.answer ответить
                        form.form
                            .photo 
                                img(src="@img/profile-image.jpg", alt="")
                                .name Администратор

                            .input
                                input(type="text" value="Гость, я  к вам пишу чего же боле...")
                                button.cancel
                            button.mobile-cancel Удалить
                            button.send(type="submit") Отправить
                        button.mobile-history История сообщений
                        .wrapper 
                            .red 
                                span мат
                                button.delete
                            button.edit
                            button.delete
            .comment
                .comment__header
                    .name комментарии
                    a.url(href="#") К какой странице / товару прикреплён данный отзыв
                    button.filter Опубликованное
                        ul 
                            li.option.grey на проверке
                            li.option.green опубликованное
                            li.option.red удаленные
                .comment__inner 
                    .comment__info 
                        .img(style="background-image:url(../img/profile-image.jpg)")
                        .name Галина Царькова
                        button.history История сообщений
                        .stats 
                            .time 2ч
                            .top 42
                            .down 17
                    .comment__message 
                        textarea Достоинства Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                    
                    .comment__bottom 
                        button.answers 3 ответа
                        button.answer ответить
                        form.form
                            .photo 
                                img(src="@img/profile-image.jpg", alt="")
                                .name Администратор

                            .input
                                input(type="text" value="Гость, я  к вам пишу чего же боле...")
                                button.cancel
                            button.mobile-cancel Удалить
                            button.send(type="submit") Отправить
                        button.mobile-history История сообщений
                        .wrapper 
                            .red 
                                span мат
                                button.delete
                            button.edit
                            button.delete
            
            button.moderation__more Показать еще
        
        .moderation__search
            .search
                input(type="text" placeholder="Поиск")
                button.filters 
                    ul 
                        li.option Искать в текущем
                        li.option Искать везде
            .moderation__result 
                .wrapper
                    button.close Закрыть
                    .name Илья Александров
                    .message
                        p #[span.black Достоинства] Lorem ipsum dolor sit amet, consectetur #[span.yellow adipisi]cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                        p #[span.black Недостатки] Lorem ipsum dolor sit amet, consectetur #[span.yellow adipisi]cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                        p #[span.black Комментарий] Lorem ipsum dolor sit amet, consectetur #[span.yellow adipisi]cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                    button.answers.answers--opened 3 ответа
                    .answer
                        .name Администратор
                        p Lorem ipsum dolor sit amet, consectetur#[span.yellow adipisi]cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                    .answer(style="background-color: #FFFDF0")
                        button.edit 
                        .name Администратор
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                    .answer(style="background-color: #F0FCFF")
                        .name Галина Царькова
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 

                    .line 
                    .name Илья Александров
                    a.email(href="mailto:alexandrov@mail.ru") alexandrov@mail.ru
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                    .line 
                    .name Галина Царькова
                    a.email(href="mailto:alexandrov@mail.ru") alexandrov@mail.ru
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                    .line 
                    button.btn Закрыть жалобы
                    .warning #[span Важно:] сообщение должно быть отмодерировано владельцем самостоятельно. При закрытии жалобы отзыв не удаляется


