.popup.popup--notification
    button.notification__close-all Скрыть все уведомления
    .notification
        .notification__title Промокод 
            span.blue ALL_INCLUSIVE
        p.notification__text Вы сможете пользоваться всеми возможностями нашего сервиса без ограничений в течение 14 дней!
        .notification__btns 
            button.notification__btn Активировать
            button.notification__btn.notification__btn--grey Позже
        .notification__close
    .notification
        .notification__title Промокод 
            span.blue ALL_INCLUSIVE
        p.notification__text Вы сможете пользоваться всеми возможностями нашего сервиса без ограничений в течение 14 дней!
        .notification__btns 
            button.notification__btn Активировать
            button.notification__btn.notification__btn--grey Позже
        .notification__close

