.notification 
    .notification__title Уведомления
    ul.notification__list
        li.notification__item 
            a.notification__link(href="#") 
                .notification__name Заканчивается срок промокода
                p.notification__desc Создайте свой первый виджет, #[br] а мы поможем его настроить и разместить.
                .notification__date 12 января 2021 
        li.notification__item 
            a.notification__link(href="#") 
                .notification__name Заканчивается срок промокода
                p.notification__desc Создайте свой первый виджет, #[br] а мы поможем его настроить и разместить.
                .notification__date 12 января 2021 
        li.notification__item.viewed
            a.notification__link(href="#") 
                .notification__name Заканчивается срок промокода
                p.notification__desc Создайте свой первый виджет, #[br] а мы поможем его настроить и разместить.
                .notification__date 12 января 2021 