.person 
    .person__title Личный кабинет

    .person__inner 
        .person__info 
            .person__img(style="background-image:url(./img/profile-image.jpg)")
                a.person__settings(href="#")

            .person__card 
                .name Галина Царькова
                .status Владелец
                .line
                .contact 
                    img(src="./img/svg/vk.svg", alt="vk logo") 
                    p vk.com/galya_design
                .line
                .contact 
                    img(src="./img/svg/phone-blue.svg", alt="phone icon") 
                    p 8 (902) 184-56-18
                    .confirmed 
                .line
                p.text Добавьте контакты, чтобы входить по e-mail или через соцсети
                .email 
                    input(type="text" placeholder="E-mail")
                    button.reload 
                    .email-status E-mail подтверждён
                .line
                p.text Выберите соцсеть, чтобы объединить несколько аккаунтов в один
                ul.socials 
                    li 
                        img(src="./img/svg/social-4.svg", alt="social media icon")
                        input(type="checkbox", name="social")
                        img.hover(src="./img/svg/social-4-hover.svg", alt="social media icon")
                    li 
                        img(src="./img/svg/social-5.svg", alt="social media icon")
                        input(type="checkbox", name="social")
                        img.hover(src="./img/svg/social-5-hover.svg", alt="social media icon")
                    li 
                        img(src="./img/svg/social-2.svg", alt="social media icon")
                        input(type="checkbox", name="social")
                        img.hover(src="./img/svg/social-2-hover.svg", alt="social media icon")
                    li 
                        img(src="./img/svg/social-6.svg", alt="social media icon")
                        input(type="checkbox", name="social")
                        img.hover(src="./img/svg/social-6-hover.svg", alt="social media icon")
                    li 
                        img(src="./img/svg/social-7.svg", alt="social media icon")
                        input(type="checkbox", name="social")
                        img.hover(src="./img/svg/social-7-hover.svg", alt="social media icon")
                    li 
                        img(src="./img/svg/social-8.svg", alt="social media icon")
                        input(type="checkbox", name="social")
                        img.hover(src="./img/svg/social-8-hover.svg", alt="social media icon")
                .line
                button.change Сменить пароль
            
            .person__history 
                .title История входов
                button.end Завершить все сеансы
                ul 
                    li 
                        .date 12.12.12
                        .place Google Chrome 10.1
                    li 
                        .date 12.12.12
                        .place Opera mobile
                    li 
                        .date 12.12.12
                        .place Виджет “ИВК”
        .person__users 
            .title Приглашенные пользователи
            button.add Добавить участника
            .input 
                input(type="text" placeholder="Поиск")
                button.filter 

            .wrapper 
                .name Название сайта
                a.url(href="https://publichnaya-kadastrovaya-karta.com") https://publichnaya-kadastrovaya-karta.com
            ul
                li.person__user 
                    .widget
                        img(src="./img/svg/reg-type-1.svg", alt="")
                        img(src="./img/svg/reg-type-2.svg", alt="")
                    .name 
                        .bold Александра р.
                        | alexandra_redisson@yandex.ru
                        button.delete

                    .change.green 
                        | модератор
                        button  
                    button.options
                li.person__user 
                    .widget
                        img(src="./img/svg/reg-type-3.svg", alt="")
                    .name 
                        .bold галина ц.
                        | tsarkova@hiseo.team
                        button.delete

                    .change.red 
                        | модератор
                        button  
                    button.options
                li.person__user 
                    .widget
                        img(src="./img/svg/reg-type-1.svg", alt="")
                        img(src="./img/svg/reg-type-2.svg", alt="")
                    .name 
                        .bold Александра р.
                        | alexandra_redisson@yandex.ru
                        button.delete

                    .change.green 
                        | модератор
                        button  
                    button.options
                li.person__user 
                    .widget
                        img(src="./img/svg/reg-type-1.svg", alt="")
                        img(src="./img/svg/reg-type-2.svg", alt="")
                    .name 
                        .bold Александра р.
                        | alexandra_redisson@yandex.ru
                        button.delete

                    .change.green 
                        | модератор
                        button  
                    button.options
                    



