.popup.popup--confirmEmail.popup--timing.active 
    .popup-confirmEmail 
        p Подтвердите ваш e-mail
        .text На почту #[span.bold midzu-oto@yandex.ru] отправлено уведомление. Перейдите в почтовый ящик и подтвердите e-mail