.popup.popup--notification
    button.popup-notification__close-all Скрыть все уведомления
    .popup-notification
        .popup-notification__title Промокод 
            span.blue ALL_INCLUSIVE
        p.popup-notification__text Вы сможете пользоваться всеми возможностями нашего сервиса без ограничений в течение 14 дней!
        .popup-notification__btns 
            button.popup-notification__btn Активировать
            button.popup-notification__btn.popup-notification__btn--grey Позже
        .popup-notification__close
    .popup-notification
        .popup-notification__title Промокод 
            span.blue ALL_INCLUSIVE
        p.popup-notification__text Вы сможете пользоваться всеми возможностями нашего сервиса без ограничений в течение 14 дней!
        .popup-notification__btns 
            button.popup-notification__btn Активировать
            button.popup-notification__btn.popup-notification__btn--grey Позже
        .popup-notification__close

