.popup.popup--stats
    .popup__inner
        .popup-stats
            button.popup-stats__open
                span
            .popup-stats__inner 
                .popup-stats__title Чекбоксы
                .popup-stats__checkbox 
                    input(type="checkbox" name="checkbox1")
                    label(for="checkbox1") Позиция 1
                .popup-stats__checkbox 
                    input(type="checkbox" name="checkbox2")
                    label(for="checkbox2") Позиция 2
                .popup-stats__title Радиобатн
                .popup-stats__radio
                    input(type="radio" name="radio")
                    label(for="radio") Позиция 1
                .popup-stats__radio
                    input(type="radio" name="radio")
                    label(for="radio") Позиция 2
                .popup-stats__title Табы
                .popup-stats__wrapper 
                    button.popup-stats__btn Обычный
                    button.popup-stats__btn.active Активный
                    button.popup-stats__btn.disable Недоступный
                    button.popup-stats__btn.close Удаляемый
                    button.popup-stats__btn Наведи на меня :)
                    button.popup-stats__btn Обычный
                    button.popup-stats__btn.active Активный
                    button.popup-stats__btn.disable Недоступный
                    button.popup-stats__btn.close Удаляемый
                    button.popup-stats__btn Наведи на меня :)
                    button.popup-stats__btn Обычный
                    button.popup-stats__btn.active Активный
                    button.popup-stats__btn.disable Недоступный
                    button.popup-stats__btn.close Удаляемый
                    button.popup-stats__btn Наведи на меня :)