.popup.popup--logout.active
    .popup-logout 
        p Выйти из аккаунта 
            span midzu-oto@yandex.ru 
            | ? 
        .btns 
            button.btn.blue Да
            button.btn.grey Нет