.reg
    .reg__process
        .reg__steps
            .reg__step.done 1 
            .reg__step.active 2
            .reg__step 3
        .reg__content 
            .reg__wrapper.active(data-step="1")
                .reg__title Добро пожаловать в BULK!
                p.reg__text Создайте свой первый виджет, #[br] а мы поможем его настроить и разместить.
                .reg__subtitle Какой виджет нужен?
                .reg__types 
                    .reg__type
                        input(type="radio", name="type" checked)
                        .marker
                        img(src="@img/svg/reg-type-1.svg", alt="chat icon")
                        p Чат
                    .reg__type 
                        input(type="radio", name="type")
                        .marker
                        img(src="@img/svg/reg-type-2.svg", alt="comment icon")
                        p Комментарии
                    .reg__type 
                        input(type="radio", name="type")
                        .marker
                        img(src="@img/svg/reg-type-3.svg", alt="review icon")
                        p Отзывы
                    .reg__type 
                        input(type="radio", name="type")
                        .marker
                        img(src="@img/svg/reg-type-3.svg", alt="review icon")
                        p Отзывы

                button.reg__btn.reg__btn--next Создать виджет
            .mt40
            .reg__wrapper.active(data-step="2")
                .reg__title Отлично, куда размещаем?
                p.reg__text Одна страница — один виджет. #[br] Каждый виджет привязан к своей странице, имеет свой уникальный ID и код вставки.
                .reg__subtitle Адрес страницы, где будет размещаться
                .reg__input.reg__input--prefix 
                    .prefix http://
                    input(type="text" placeholder="example.com")

                p.reg__text Если на сайте будет несколько виджетов, то различать их вам поможет название. #[br] Оно будет видно только в личном кабинете администратора.
                .reg__subtitle Назовите ваш виджет

                .reg__input
                    input(type="text" placeholder="Например, Отзывы_товары_шоколад")
                
                .reg__btns 
                    button.reg__btn.reg__btn--prev Назад
                    button.reg__btn.reg__btn--next Далее

            .mt40
            .reg__wrapper.active(data-step="3")
                .reg__title Теперь настраиваем
                p.reg__text Наполнение будет меняться от виджета

                .reg__btns 
                    button.reg__btn.reg__btn--prev Назад
                    button.reg__btn.reg__btn--next Готово!
    .mt40
    .reg__finish
        .reg__title.reg__title--finish Готово! #[br] Осталось вставить код на сайт
        .reg__text Вставьте код на сайт в то место, где хотите разместить виджет и сохраните изменения. #[br] Виджет сразу подключится.

        .reg__blocks
            .reg__block 
                .reg__subtitle PHP
                .reg__textarea
                    textarea(name="code") script src="https://bulkfeedback.com/laod.php?format=json-34324dsbdyui37fd-39kd9-39ikdknsnkjss"></script 
                .reg__bottom
                    button.reg__btn.reg__btn--copy Скопировать код
            
            .reg__block 
                .reg__subtitle JavaScript
                .reg__textarea
                    textarea(name="code") script src="https://bulkfeedback.com/laod.php?format=json-34324dsbdyui37fd-39kd9-39ikdknsnkjss"></script 
                .reg__bottom
                    button.reg__btn.reg__btn--copy Скопировать код
                    .reg__note Примечание: заголовок Refer обязателен
            
            .reg__block 
                .reg__subtitle HTML
                p.reg__text Кнопка раскрытия чата без стилей
                .reg__textarea
                    textarea(name="code") script src="https://bulkfeedback.com/laod.php?format=json-34324dsbdyui37fd-39kd9-39ikdknsnkjss"></script 
                    button.reg__btn.reg__btn--copy.reg__btn--sm
                p.reg__text Кнопка раскрытия чата со стилями
                .reg__textarea
                    textarea(name="code") script src="https://bulkfeedback.com/laod.php?format=json-34324dsbdyui37fd-39kd9-39ikdknsnkjss"></script 
                    button.reg__btn.reg__btn--copy.reg__btn--sm
                .reg__text Примечание: для отображения чата необходимо #[br] установить хотя бы одну из кнопок

        .reg__subtitle Что дальше?
        p.reg__text После вставки кода на сайт виджет автоматически активируется. 
        p.reg__text Теперь виджет можно найти во вкладке 
            a(href="#") Мои виджеты. 
            |  Там можно изменить настройки, назначить модератора, скопировать код для вставки или приостановить работу виджета.






