.settings 
    .settings__top 
        .settings__title Виджет публички в отзывах
        button.settings__edit
        button.settings__save Сохранить

    .settings__wrapper
        .reviews отзывы
        .id id виджета 
            span 43
        .status статус: Активен
            button 
        .status.inactive статус: неактивен
            button 
        .tarrif тариф  4,5 ₽/день
            button

    .settings__tabs 
        button Настройки виджета
        button Внешний вид
        button.active Общие настройки

    .settings__content.settings__content--sm
        .settings__inner
            .settings__subtitle Тариф
            .settings__tarrif   
                .settings__checkboxes
                    .settings__checkbox.disabled
                        input(type="checkbox", name="search" checked)
                        label(for="search") Поисковая индексация рейтинга
                    .settings__checkbox.disabled
                        input(type="checkbox", name="spam" checked)
                        label(for="spam") Спам защита
                    .settings__checkbox 
                        input(type="checkbox", name="links" checked)
                        label(for="links") Без ссылки и копирайта - 0.45₽
                    .settings__checkbox 
                        input(type="checkbox", name="support")
                        label(for="support") Поддержка SSL - 0.10₽

            .settings__price 
                .daily 
                    span 4,5
                    | ₽/день
                .monthly 60 ₽/месяц
                button.settings__btn Изменить тариф

            p.settings__text Вы можете изменить тариф в любой день. Изменения начинают действовать со следующего дня. Списание средств происходит ежедневно

        .settings__inner
            .settings__subtitle Размещение
            .settings__location 
                .settings__domen
                    .text Домен
                    .url https://publichnaya-kadastrovaya-karta.com/review
                .settings__code 
                    .text Код вставки
                    textarea.code hsbdvsdjvnlsdjvnlsdvlsdjvnsldjvsfkjbsdjvbljsdvnsdljvnlsdjvnsdмлрмолыримлоыирмдоы
                    button.settings__copy Скопировать код

                .settings__desc 
                    span.bold Чтобы привязать виджет к определенной странице сайта добавьте в конце ссылки
                    span.selected #[span.blue &id=]товар_id
                    | , тогда содержимое виджета не будет повторяться на других страницах.

            .settings__messages 
                .settings__subtitle Новые сообщения
                    .notify 2
                .settings__send 
                    input(type="checkbox", name="accept" checked)
                    label(for="accept") Отправлять уведомления  о новых сообщениях на
                    input(type="text" placeholder="example@domain.com")
                    button.reload              
                    button.reload.wait              
                    button.reload.confirm         

            .settings__moderators
                .settings__subtitle Модераторы
                button.add 

                ul 
                    li 
                        .name.owner 
                            .bold вы
                            | alexandra_redisson@yandex.ru

                            button.delete

                        .change.green 
                            | владелец
                            button  
                    li 
                        .name 
                            .bold Александра р.
                            | alexandra_redisson@yandex.ru

                            button.delete

                        .change.green 
                            | модератор
                            button  
                    li 
                        .name
                            .bold галина ц.
                            | tsarkova@hiseo.team

                            button.delete

                        .change.red 
                            | модератор
                            button  
    
    .m40
    
    .settings__content 
        .settings__inner
            .settings__criteria 
                ul.headers
                    li.name Критерий оценки
                    li.rating Средний балл
                    li.amount Количество голосов

                ul.items 
                    li 
                        .name Качество
                        .rating 4,7
                            ul 
                                li.active 
                                li.active 
                                li.active 
                                li.active 
                                li 
                        .amount 157
                        button.close 

                button.settings__btn.settings__btn--add Добавить критерий

        .settings__subtitle.settings__subtitle--50 Отображение
        .settings__cols
            .settings__col 
                .settings__item 
                    button.show
                    .settings__checkbox.settings__checkbox--circle
                        input(type="checkbox")
                        label(for="#") Показывать блок с рейтингом
                        ul
                            li Общая оценка, 
                            li Общее количество отзывов, 
                            li Количество оценок каждого типа,
                            li % пользователей, которые рекомендуют товар

                .settings__item 
                    button.show 
                    p.text Текст в кнопке отправления отзыва
                    input(type="text" value="Отправить") 

                .settings__item 
                    .title Социальные сети
                    p.desc Список социальных сетей, доступных дляфункций “Авторизоваться” и “Поделиться”
                    ul.socials
                        li 
                            input(type="checkbox", name="yandex")
                            label(for="yandex") 
                            img.hover(src="./img/svg/social-1-hover.svg", alt="")
                            img(src="./img/svg/social-1.svg", alt="")
                        li 
                            input(type="checkbox", name="yandex")
                            label(for="yandex") 
                            img.hover(src="./img/svg/social-2-hover.svg", alt="")
                            img(src="./img/svg/social-2.svg", alt="")
                        li 
                            input(type="checkbox", name="yandex")
                            label(for="yandex") 
                            img.hover(src="./img/svg/social-3-hover.svg", alt="")
                            img(src="./img/svg/social-3.svg", alt="")
                        li 
                            input(type="checkbox", name="yandex")
                            label(for="yandex") 
                            img.hover(src="./img/svg/social-4-hover.svg", alt="")
                            img(src="./img/svg/social-4.svg", alt="")
                        li 
                            input(type="checkbox", name="yandex")
                            label(for="yandex") 
                            img.hover(src="./img/svg/social-5-hover.svg", alt="")
                            img(src="./img/svg/social-5.svg", alt="")
                        li 
                            input(type="checkbox", name="yandex")
                            label(for="yandex") 
                            img.hover(src="./img/svg/social-6-hover.svg", alt="")
                            img(src="./img/svg/social-6.svg", alt="")
                        li 
                            input(type="checkbox", name="yandex")
                            label(for="yandex") 
                            img.hover(src="./img/svg/social-7-hover.svg", alt="")
                            img(src="./img/svg/social-7.svg", alt="")
                        li 
                            input(type="checkbox", name="yandex")
                            label(for="yandex") 
                            img.hover(src="./img/svg/social-8-hover.svg", alt="")
                            img(src="./img/svg/social-8.svg", alt="")

            .settings__col 
                .settings__item 
                    button.show
                    .settings__checkbox.settings__checkbox--circle
                        input(type="checkbox")
                        label(for="#") Отображать 3 поля при написании отзыва
                        p В форме отзыва будут отображаться три поля для заполнения:
                        ul
                            li Достоинства 
                            li Недостатки
                            li Комментарий

                .settings__item 
                    .title Комментарии
                    .line 
                    .settings__checkbox.settings__checkbox--circle
                        input(type="checkbox" checked)
                        label(for="#") Древовидный тип комментариев 
                        p Ответы к комментарию будут сдвигаться влево
                        button.show 
                    .line 
                    .settings__checkbox.settings__checkbox--circle
                        input(type="checkbox")
                        label(for="#") Запретить комментировать отзывы
                        button.show 

            .settings__col
                .settings__item 
                    button.show 
                    p.text Текст основной кнопки
                    input(type="text" value="Написать отзыв") 
                .settings__item 
                    .title Документы
                    .line 
                    .settings__checkbox.settings__checkbox--circle
                        input(type="checkbox")
                        label(for="#") Отображать свои документы 
                        p Ссылка на политику конфиденциальности и пользовательское соглашение будут добавляться рядом с кнопкой отправки
                        button.show 
                    p Разместите ссылки на документы
                
                    .input.done
                        label(for="") Политика конфиденциальности 
                        input(type="text" value='https://example.com/politica' placeholder="https://")
                        .status.confirm
                    .input.wrong
                        label(for="") Пользовательское соглашение 
                        input(type="text" value="https://" placeholder="https://")
                        .status.wait

        .line 
        .settings__subtitle.settings__subtitle--50 Приватность
        .settings__cols.settings__cols--50 
            .settings__col 
                .settings__checkbox.settings__checkbox--circle
                    input(type="checkbox" checked)
                    label(for="#") Анонимное добавление комментариев
                .settings__checkbox.settings__checkbox--circle
                    input(type="checkbox" checked)
                    label(for="#") Отображать поле e-mail
                .settings__checkbox.settings__checkbox--centered
                    input(type="checkbox" checked)
                    label(for="#") Обязательное заполнение поля e-mail
            .settings__col 
                .settings__checkbox.settings__checkbox--circle
                    input(type="checkbox" checked)
                    label(for="#") Стандатрная подпись для админимстратора
                    p.text Пользователь НЕ видит имя, под которым авторизован администратор, а только подпись
                .input.input--full
                    input(type="text" value="Администратор")
        .line 
        .settings__subtitle.settings__subtitle--50 Основные
        .settings__amount 
            input(type="text" placeholder="10")
            .info 
                .name Количество комментариев на странице
                .desc Сколько сообщений видит пользователь при загрузке виджета
        .settings__amount 
            input(type="text" placeholder="10")
            .info 
                .name Количество комментариев подгружаемое
                .desc Сколько сообщений подгружается при нажатии на кнопку “Показать еще”
        .settings__amount 
            input(type="text" placeholder="10")
            .info 
                .name Минимальное количество символов в отзыве
                .desc При меньшем количестве символов, пользователь не сможет отправить отзыв и увидит уведомление
        .line 
        .settings__subtitle.settings__subtitle--50 Дополнительные
        .settings__checkbox.settings__checkbox--circle.ml50
            input(type="checkbox" checked)
            label(for="#") Публиковать только после модерации
        .settings__checkbox.settings__checkbox--circle.ml50
            input(type="checkbox" checked)
            label(for="#") Спам-фильтр
        button.settings__btn.settings__btn--save Сохранить

    .m40
    
    .settings__content.settings__content--sm 
        .settings__inner 
            .settings__subtitle.settings__subtitle--left Выберите тему
            ul.settings__colors 
                li 
                    input(type="radio", name="color" checked)
                    .color(style="background-color:#0097FF")
                li 
                    input(type="radio", name="color")
                    .color(style="background-color:#798196")
                li 
                    input(type="radio", name="color")
                    .color(style="background-color:#FF4D45")
                li 
                    input(type="radio", name="color")
                    .color(style="background-color:#FFD200")
                li 
                    input(type="radio", name="color")
                    .color(style="background-color:#16D7E3")

        img(src="./img/review-img.png", alt="review example")
