.stats 
    .stats__top 
        .stats__title Статистика
    p.stats__text Здесь пока ничего нет!
    p.stats__text Создайте и установите виджет на сайт, чтобы видеть статистику #[br] посещаемости и вовлеченности
    button.stats__create Создать виджет
    ul.stats__cards
        li 
            img(src="@img/svg/stats-views.svg", alt="stats icon")
            p просмотры
            .num 0
            .percents 0%
        li 
            img(src="@img/svg/stats-comments.svg", alt="comments icon")
            p комментарии
            .num 0
            .percents 0%
        li 
            img(src="@img/svg/stats-likes.svg", alt="likes icon")
            p оценки
            .num 0
            .percents 0%
        li 
            img(src="@img/svg/stats-complaintes.svg", alt="complaintes icon")
            p жалобы
            .num 0
            .percents 0%
