.widgets 
    .widgets__top 
        .widgets__title Мои виджеты
        .widgets__categories 
            button.widgets__category.active
                .widgets__icon(style="background-image:url(./img/svg/all-black.svg)")
                | Все виджеты
            button.widgets__category 
                .widgets__icon(style="background-image:url(./img/svg/comment-black.svg)")
                | Чаты
            button.widgets__category 
                .widgets__icon(style="background-image:url(./img/svg/star-black.svg)")
                | Отзывы
            button.widgets__category 
                .widgets__icon(style="background-image:url(./img/svg/nav-black.svg)")
                | Комментарии
            button.widgets__category
                .widgets__icon(style="background-image:url(./img/svg/all-black.svg)")
                | Все виджеты
            button.widgets__category 
                .widgets__icon(style="background-image:url(./img/svg/comment-black.svg)")
                | Чаты
            button.widgets__category 
                .widgets__icon(style="background-image:url(./img/svg/star-black.svg)")
                | Отзывы
            button.widgets__category 
                .widgets__icon(style="background-image:url(./img/svg/nav-black.svg)")
                | Комментарии
            button.widgets__category
                .widgets__icon(style="background-image:url(./img/svg/all-black.svg)")
                | Все виджеты
            button.widgets__category 
                .widgets__icon(style="background-image:url(./img/svg/comment-black.svg)")
                | Чаты
            button.widgets__category 
                .widgets__icon(style="background-image:url(./img/svg/star-black.svg)")
                | Отзывы
            button.widgets__category 
                .widgets__icon(style="background-image:url(./img/svg/nav-black.svg)")
                | Комментарии
    .widgets__inner
        .widgets__wrapper 
            ul.widgets__websites
                li
                    button Все сайты
                li
                    button.active Сайт №1
                li
                    button Сайт №2

            .widgets__turn
                input(type="checkbox", name="turn")
                span 
                .text Только активные

        .widgets-card 
            .widgets-card__top 
                .widgets-card__preloader.widgets-card__preloader--xs
                .widgets-card__preloader.widgets-card__preloader--sm
                .widgets-card__preloader.widgets-card__preloader--sm
            .widgets-card__preloader.widgets-card__preloader--md
            .widgets-card__preloader.widgets-card__preloader--lg
            .widgets-card__preloader.widgets-card__preloader--md
        .widgets-card 
            .widgets-card__top 
                .widgets-card__preloader.widgets-card__preloader--md
                .widgets-card__preloader.widgets-card__preloader--sm
            .widgets-card__preloader.widgets-card__preloader--full
            .widgets-card__preloader.widgets-card__preloader--full
            .widgets-card__preloader.widgets-card__preloader--xs
        .widgets-card 
            .widgets-card__top 
                .widgets-card__preloader.widgets-card__preloader--sm
                .widgets-card__preloader.widgets-card__preloader--sm
                .widgets-card__preloader.widgets-card__preloader--sm
            .widgets-card__preloader.widgets-card__preloader--full
            .widgets-card__preloader.widgets-card__preloader--md
            .widgets-card__preloader.widgets-card__preloader--lg



