@import fonts
@import vars
@import reset
@import mixins

@import "../../../node_modules/nouislider/dist/nouislider"

*, 
*::before,
*::after
    padding: 0
    margin: 0
    box-sizing: border-box
    min-height: 0.001vw // — Fixes Safari bug with viewport units in calc()

body
    font-family: "Arial", Helvetica, sans-serif
    font-size: 16px
    font-weight: 400
    line-height: 1.2
    color: #47426A

.layout
    display: flex
    height: calc(100vh - 105px)

    @include r(767px)
        min-height: calc(100vh - 105px)
        height: auto

.main
    display: flex
    flex-direction: column
    width: calc(100% - 330px)
    background-color: #f5f6fa
    position: relative

    @include r(1400px)
        width: 100%
        padding-left: 85px

    @include r(767px)
        padding-left: 48px

.content
    padding: 30px 50px
    overflow-y: auto
    overflow-x: hidden
    height: 100%

    /* This will work on Firefox */
    scrollbar-width: thin
    scrollbar-color: $blue


    /* Targtes on Chrome, Edge, and Safari */
    &::-webkit-scrollbar 
        width: 10px


    &::-webkit-scrollbar-track 
        background: rgba(255, 255, 255, 0)


    &::-webkit-scrollbar-thumb 
        background-color: $blue
        border-radius: 20px
        border: none

    @include r(767px)
        padding: 30px 20px

    @include r (600px)
        padding: 20px 15px

.logo
    display: flex
    width: 45px

    img
        width: 100%

