.person
    height: 100%

    @include r(767px)
        height: auto

    &__title
        font-family: Raleway
        font-weight: 700
        font-size: 30px
        margin:0 -50px
        padding: 0 0 25px 50px
        border-bottom: 1px solid #D9DCEE

        @include r(640px)
            font-size: 16px
            margin: 0 -20px
            padding: 0 0 15px 20px

    &__inner
        display: flex
        align-items: flex-start
        height: 100%

        @include r(1650px)
            flex-direction: column
            min-height: fit-content 

    &__info
        position: relative
        max-width: 650px
        width: 100%
        height: 100%
        border-right: 1px solid #D9DCEE
        padding: 24px 15px 0 0
        margin-right: 30px

        @include r(1650px)
            max-width: 100% 
            min-height: fit-content
            padding-right: 0
            border: none
            padding-bottom: 45px
            margin-bottom: 35px

            &::after
                content: ""
                position: absolute
                left: -50px
                bottom: 0
                width: calc(100% + 100px)
                height: 1px
                background-color: #d9dcee

    &__img
        position: absolute
        top: 45px
        left: -30px
        width: 115px
        height: 115px
        border-radius: 100%
        background-size: cover
        background-repeat: no-repeat
        background-position: center

        @include r(767px)
            top: 15px
            left: 50%
            transform: translateX(-50%)
            height: 100px
            width: 100px

    &__settings
        position: absolute
        left: 50%
        top: 100%
        transform: translate(-50%, -50%)
        width: 35px
        height: 35px
        border-radius: 100%
        background-color: #E8EAF4
        transition: transform 0.3s

        &:hover
            transform: translate(-50%, -50%) scale(1.1)
        
        &:active
            transform: translate(-50%, -50%) scale(0.9)
        
        &::before
            content: ""
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            background-image: url(../img/svg/settings.svg)
            background-size: 60%
            background-repeat: no-repeat
            background-position: center
            filter: invert(55%) sepia(19%) saturate(879%) hue-rotate(194deg) brightness(86%) contrast(86%)

    &__card
        max-width: 100%
        padding: 30px 25px
        border-radius: 10px
        background-color: #fff
        margin-left: 100px
        margin-bottom: 50px

        @include r(767px)
            margin-left: 0
            margin-top: 130px

        .name
            font-family: Raleway
            font-weight: 700
            font-size: 18px
            margin-bottom: 10px

        .status
            font-size: 14px
            color: #B0B5D1

        .line
            height: 1px
            width: 100%
            background-color: #D9DCEE
            margin: 15px 0

        .contact
            display: flex
            align-items: center

            img
                width: 22px
                margin-right: 13px

            p
                font-size: 14px
                margin-right: 15px

            .confirmed
                width: 12.5px
                height: 8px
                background-image: url(../img/svg/done.svg)
                background-size: contain
                background-repeat: no-repeat
                background-position: center
                filter: invert(69%) sepia(9%) saturate(2729%) hue-rotate(78deg) brightness(87%) contrast(88%)

        .text
            font-size: 14px
            max-width: 260px
            color: #b0b5d1
            margin-bottom: 10px

        .email
            position: relative
            padding-left: 50px
            display: flex
            align-items: center

            @include r(640px)
                padding-bottom: 20px
                padding-left: 35px

            &::before
                content: ""
                position: absolute
                left: 10px
                top: 50%
                transform: translateY(-50%)
                width: 21px
                height: 16px
                background-image: url(../img/svg/mail-blue.svg)
                background-size: cover
                background-repeat: no-repeat
                background-position: center

                @include r(640px)
                    top: 10px
                    left: 0
                    transform: none

            input
                border-radius: 3px
                padding: 11px 15px 9px
                border: 1px solid #D9DCEE
                background-color: #f5f6fa
                font-size: 14px
                margin-right: 15px
                outline: none
                transition: border-color 0.3s

                @include r(640px)
                    width: 100%

                &:focus
                    border-color: $blue

                &::placeholder
                    color: #B0B5D1
            
            .reload
                position: relative
                min-width: 36px
                width: 36px
                height: 36px
                border-radius: 100%
                background-color: #e8eaf4
                margin-right: 20px
                transition: background-color 0.3s, transform 0.3s

                @include r(640px)
                    margin-right: 0

                &:hover
                    background-color: #d0d3e0
                    
                &:active
                    transform: scale(0.9)

                &::before
                    content: ""
                    position: absolute
                    left: 0
                    top: 0
                    width: 100%
                    height: 100%
                    background-image: url(../img/svg/reload.svg)
                    background-size: 50%
                    background-repeat: no-repeat
                    background-position: center
                    filter: invert(58%) sepia(6%) saturate(2825%) hue-rotate(194deg) brightness(83%) contrast(86%)

            .email-status
                position: relative
                padding-left: 45px
                font-size: 10px
                max-width: 120px
                width: 100%
                color: #44B759

                @include r(640px)
                    position: absolute
                    bottom: 0
                    left: 50px
                    max-width: 170px
                    padding-left: 20px

                &::before
                    content: ""
                    position: absolute
                    left: 0
                    top: 50%
                    transform: translateY(-50%)
                    width: 36px
                    height: 36px
                    border-radius: 100%
                    background-color: #E3F4EE

                    @include r(640px)
                        width: 15px
                        height: 15px

                &::after
                    content: ""
                    position: absolute
                    left: 13px
                    top: 50%
                    transform: translateY(-50%)
                    width: 10px
                    height: 8px
                    background-image: url(../img/svg/done.svg)
                    background-size: cover
                    background-position: center
                    background-repeat: no-repeat
                    filter: invert(69%) sepia(9%) saturate(2729%) hue-rotate(78deg) brightness(87%) contrast(88%)

                    @include r(640px)
                        left: 2px

        .socials
            display: flex
            
            li
                position: relative
                width: 35px
                height: 35px

                &:not(:last-child)
                    margin-right: 5px

                img
                    width: 100%
                    height: 100%

                .hover
                    position: absolute
                    left: 0
                    top: 0
                    width: 100%
                    height: 100%
                    pointer-events: none
                    opacity: 0
                    transition: opacity 0.3s

                input
                    position: absolute
                    left: 0
                    top: 0
                    width: 100%
                    height: 100%
                    cursor: pointer
                    opacity: 0
                    z-index: 2

                input:checked + .hover
                    opacity: 1

        .change
            font-size: 16px
            font-weight: 700
            color: white
            padding: 11px 15px 9px
            border-radius: 5px
            background-color: $blue
            transition: background-color 0.3s, transform 0.3s

            @include r(640px)
                font-size: 12px

            &:hover
                background-color: $dblue

            &:active
                transform: scale(0.9)

    &__history
        position: relative

        .title
            font-size: 18px
            font-family: Raleway
            font-weight: 700
            margin-bottom: 15px

        .end
            position: absolute
            top: -15px
            right: 0
            font-weight: 700
            font-size: 12px
            color: #727BB0
            padding: 11px 17px
            border-radius: 5px
            background-color: #EBEDF9
            transition: transform 0.3s

            @include r(640px)
                display: none

            &:hover
                transform: scale(1.1)

            &:active
                transform: scale(0.9)

        li
            display: flex
            border-bottom: 1px solid #D9DCEE
            padding: 10px
            font-size: 14px

            &:first-child
                border-top: 1px solid #D9DCEE

            .date
                color: #b0b5d1
                margin-right: 40px
                
    &__users
        position: relative
        max-width: 835px
        width: 100%
        padding-top: 20px

        @include r(1650px)
            max-width: 100%
            padding-top: 0
            padding-bottom: 30px
            min-height: fit-content

        .title
            font-size: 18px
            font-family: Raleway
            font-weight: 700
            margin-bottom: 20px

            @include r(640px)
                padding-right: 50px

        .add
            position: absolute
            top: 20px
            right: 0
            border-radius: 3px
            color: white
            font-weight: 700
            padding: 12px 25px
            background-color: $blue
            box-shadow: 0px 15px 20px rgba(105, 131, 216, 0.15)
            transition: background-color 0.3s, transform 0.3s

            &:hover
                background-color: $dblue

            &:active
                transform: scale(0.9)

            @include r (1650px)
                top: 0

            @include r (767px)
                font-size: 0
                width: 48px
                height: 48px
                border-radius: 100%
                padding: 0
                box-shadow: none

                &::before,
                &::after
                    content: ""
                    position: absolute
                    left: 50%
                    top: 50%
                    width: 10px
                    height: 2px
                    background-color: #fff
                    transform: translate(-50%, -50%)

                &::after
                    transform: translate(-50%, -50%) rotate(90deg)

            @include r(640px)
                top: -13px

        .input
            position: relative
            display: flex
            align-items: center
            margin-bottom: 35px

            @include r(640px)
                display: none

            &::before
                content: ""
                position: absolute
                left: 14px
                top: 50%
                transform: translateY(-50%)
                width: 13px
                height: 13px
                background-image: url(../img/svg/search-grey.svg)
                background-size: cover
                background-repeat: no-repeat
                background-position: center

            input
                background-color: #fff
                border-radius: 10px
                border: 1px solid #d9dcee
                font-size: 14px
                margin-right: 15px
                padding: 13px 45px
                outline: none

                &::placeholder
                    color: #c4c8df
                
            .filter
                width: 40px
                height: 40px
                background-image: url(../img/svg/stats-popup-open.svg)
                background-size: 60%
                background-repeat: no-repeat
                background-position: center
                filter: invert(36%) sepia(100%) saturate(1640%) hue-rotate(214deg) brightness(98%) contrast(95%)
                transition: transform 0.3s

                &:hover
                    transform: scale(1.1)
                
                &:active
                    transform: scale(0.9)

        .wrapper
            display: flex
            justify-content: space-between
            align-items: baseline
            margin-bottom: 15px

            @include r(640px)
                display: none

            .name
                font-family: Raleway
                font-weight: 700

            .url
                position: relative
                color: $blue
                font-size: 12px
                padding-left: 25px

                &::before
                    content: ""
                    position: absolute
                    left: 0
                    top: 50%
                    transform: translateY(-50%)
                    width: 13px
                    height: 13px
                    background-image: url(../img/svg/world.svg)
                    background-size: contain  
                    background-repeat: no-repeat
                    background-position: center
                    filter: invert(82%) sepia(18%) saturate(323%) hue-rotate(194deg) brightness(87%) contrast(86%)
    
    &__user
        display: flex
        align-items: center
        padding: 10px 0
        border-bottom: 1px solid #d9dcee

        &:first-child
            border-top: 1px solid #d9dcee

        @include r(640px)
            position: relative

            &:last-child
                border: none

        .widget
            display: flex
            flex-direction: column
            margin-left: 5px
            margin-right: 13px

            img
                width: 15px
                height: 15px
                object-fit: contain
                object-position: center

                &:not(:last-child)
                    margin-bottom: 3px
            
            @include r(640px)
                position: absolute
                bottom: 20px
                left: 3px
                z-index: 2
            
        .name
            position: relative
            display: flex
            align-items: center
            padding: 17px 45px 13px 35px
            border-radius: 5px
            background-color: #fff
            font-size: 10px
            text-transform: uppercase
            overflow: hidden
            margin-right: auto

            @include r(900px)
                flex-direction: column
                align-items: flex-start

            @include r(640px)
                padding: 17px 45px 50px 35px
                width: 100%

            &::before
                content: ""
                position: absolute
                left: 11px
                top: 50%
                transform: translateY(-50%)
                width: 13.5px
                height: 12px
                background-image: url(../img/svg/user.svg)
                background-size: cover
                background-repeat: no-repeat
                background-position: center
                filter: invert(90%) sepia(4%) saturate(1131%) hue-rotate(195deg) brightness(89%) contrast(87%)
            
                @include r(900px)
                    transform: none
                    top: 17px

            &.owner
                &::before
                    border-radius: 100% 
                
                .delete
                    display: none
        
        .bold
            font-weight: 700
            font-size: 12px 
            text-transform: uppercase
            margin-right: 13px

            @include r(900px)
                margin-bottom: 3px

        .delete
            position: absolute
            top: 0
            right: 0
            width: 35px
            height: 100%
            background-color: #EBEDF9
            margin-left: 11px
            transition: background-color 0.3s

            @include r(640px)
                height: 50%

            &:hover
                background-color: #dee0eb
                
            &::before,
            &::after
                content: ""
                position: absolute
                top: 50%
                left: 50%
                width: 10px
                height: 2px
                background-color: #727BB0

            &::before
                transform: translate(-50%, -50%) rotate(-45deg)
            &::after
                transform: translate(-50%, -50%) rotate(45deg)

        .change
            position: relative
            display: flex
            align-items: center
            padding: 11px 15px 9px 30px
            border-radius: 5px
            overflow: hidden
            font-size: 10px
            text-transform: uppercase
            margin-right: 20px
            margin-left: 20px

            @include r(640px)
                position: absolute
                bottom: 20px
                left: 14px
            

            &.green
                background-color: #E3F4EE
                color: #44B759

                &::before
                    content: ""
                    position: absolute
                    left: 10px
                    top: 12px
                    width: 10px
                    height: 8px
                    background-size: contain
                    background-repeat: no-repeat
                    background-position: center
                    background-image: url(../img/svg/done.svg)
                    filter: invert(56%) sepia(29%) saturate(896%) hue-rotate(79deg) brightness(102%) contrast(88%)
                
                button
                    background-color: #CFE9E0

                    &:hover
                        background-color: #c9d4d0

                    &::after
                        filter: invert(56%) sepia(29%) saturate(896%) hue-rotate(79deg) brightness(102%) contrast(88%)
            &.red
                color: $red
                background-color: #FFE4E3

                &::before
                    content: "!"
                    position: absolute
                    top: 6px
                    left: 13px
                    font-family: Raleway
                    font-weight: 700
                    font-size: 16px
                    color: $red

                button
                    background-color: #F5D7D6

                    &:hover
                        background-color: #d8b7b6
                        

                    &::after
                        filter: invert(17%) sepia(97%) saturate(4979%) hue-rotate(4deg) brightness(108%) contrast(112%)
            
            button
                position: relative
                width: 35px
                height: 30px
                margin: -11px -15px -9px 11px
                transition: background-color 0.3s

                &::after
                    content: ""
                    position: absolute
                    top: 7px
                    left: 10px
                    width: 14px
                    height: 14px
                    background-image: url(../img/svg/pencil.svg)
                    background-size: cover
                    background-repeat: no-repeat
                    background-position: center

        .options
            width: 22px
            height: 22px
            border-radius: 100%
            background-image: url(../img/svg/vertical-dots.svg)
            background-size: 18%
            background-repeat: no-repeat
            background-position: center
            background-color: rgba(0, 0, 0, 0.05)
            transition: background-color 0.3s

            @include r(640px)
                position: absolute
                height: calc(50% - 10px)
                bottom: 10px
                right: 0
                width: 35px
                border-radius: 0
                border-bottom-right-radius: 5px
                background-size: 15%

            &:hover
                background-color: rgba(0, 0, 0, 0.1)









