.popup
    overflow: hidden
    background-color: #fff

    &--notification
        position: absolute
        bottom: 0
        right: 0
        border-radius: 30px
        border-bottom-right-radius: 0px
        box-shadow: 0px 15px 20px rgba(105, 131, 216, 0.15)