include base/_head
    .layout
        include blocks/_sidebar
        main.main
            include blocks/_header
            .content 
                include ./blocks/_settings
            include ./blocks/_popup-settings

        
    include blocks/_footer
    script(src="js/app.min.js") 